asn1crypto==0.24.0
AWSIoTPythonSDK==1.4.0
bottle==0.12.13
cbor==1.0.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==5.1
colorama==0.3.9
cryptography==2.3.1
ecdsa==0.13
enum34==1.1.6
esptool==2.5.1
idna==2.6
ipaddress==1.0.22
lockfile==0.12.2
numpy==1.15.4
paho-mqtt==1.4.0
pbr==4.0.1
phue==1.0
platformio==3.6.2a2
pyaes==1.6.1
pycparser==2.19
PyJWT==1.6.4
pyserial==3.4
requests==2.18.4
semantic-version==2.6.0
six==1.11.0
stevedore==1.28.0
urllib3==1.22
virtualenv==15.2.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
